
#directory {
    text-align: center;
    border: 1px solid lightgrey;
    margin-left: 33%;
    margin-right: 33%;
}

#holder {
    margin-left: 5%;
    margin-right: 5%;
}

#holder p {
    text-align: left;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

#searchbar {
    text-align: left;
    padding-bottom: 15px;
    margin-top: -15px;
    overflow: hidden;
}

input {
    width: 98%;
}

#people {
    border: 1px solid lightgrey;
    margin-left: 36%;
    margin-right: 36%;  
}

#person {
    padding: 10px;
    border: 1px solid lightgrey;
    overflow: hidden; 
    min-width: 30%;  
}

#person:hover {
    background-color: lightblue;
}

.img {
    float: left;
    margin-right: 10px;
}

#text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    overflow: hidden;
}

#text p {
    margin-bottom: auto;
    margin-top: -2px;
}

.name {
    font-size: 14pt;
    font-weight: bold;
}



